<link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="/assets/css/chosen.css" />
<div class="widget-body">
    <div class="widget-main">
        <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
            <ul class="wizard-steps">
                <li data-target="#step1" class="active">
                    <span class="step">1</span>
                    <span class="title">提案需求单</span>
                </li>

                <li data-target="#step2">
                    <span class="step">2</span>
                    <span class="title">项目提案</span>
                </li>

                <li data-target="#step3">
                    <span class="step">3</span>
                    <span class="title">项目合同</span>
                </li>

                <li data-target="#step4">
                    <span class="step">4</span>
                    <span class="title">课件器材</span>
                </li>

                <li data-target="#step5">
                    <span class="step">5</span>
                    <span class="title">课程执行</span>
                </li>

                <li data-target="#step6">
                    <span class="step">6</span>
                    <span class="title">课程评估评分表</span>
                </li>

                <li data-target="#step7">
                    <span class="step">7</span>
                    <span class="title">资料归档</span>
                </li>

                <li data-target="#step8">
                    <span class="step">8</span>
                    <span class="title">回访及后续事宜</span>
                </li>

                <li data-target="#step9">
                    <span class="step">9</span>
                    <span class="title">IT数据库存档</span>
                </li>
            </ul>
        </div>

        <div class="step-content row-fluid position-relative" id="step-container">
            <div class="step-pane active" id="step1">
                <div class="space-4"></div>
                <ol style="font-size:20px">市场营销部<li>客户需求开发</li><li>提交需求单</li></ol>
            </div>
            <div class="step-pane" id="step2">
                <div class="space-8"></div>
                <ol style="font-size:20px">教研中心<li>提案制作</li></ol>
            </div>
            <div class="step-pane" id="step3">
                <div class="space-8"></div>
                <ol style="font-size:20px">运营管理中心<li>查看《管制表》</li><li>确认老师</li><li>制作项目合同</li></ol>
                <ol style="font-size:20px">教研中心<li>联系确认老师</li><li>课程需求沟通</li><li>课件时间确认</li></ol>
                <ol style="font-size:20px">市场营销部<li>项目成交</li></ol>
            </div>
            <div class="step-pane" id="step4">
                <div class="space-8"></div>
                <ol style="font-size:20px">运营管理中心<li>老师单次课程协议</li><li>老师行程安排</li><li>课件器材准备</li><li>财务预算及费用申请</li></ol>
            </div>
            <div class="step-pane" id="step5">
                <div class="space-8"></div>
                <ol style="font-size:20px">运营管理中心-课程执行<li>运营部负责执行</li><li>市场部经手人协助</li></ol>
            </div>
            <div class="step-pane" id="step6">
                <div class="space-8"></div>
                <ol style="font-size:20px">运营管理中心-课程评估<li>老师评分表</li><li>项目评分表</li></ol>
            </div>
            <div class="step-pane" id="step7">
                <div class="space-8"></div>
                <ol style="font-size:20px">运营管理中心-资料归档与录入数据库<li>提案需求单</li><li>项目提案</li><li>项目合同</li>
                    <li>老师课件、简历</li>
                    <li>评分表</li>
                    <li>项目总结、相片</li></ol>
            </div>
            <div class="step-pane" id="step8">
                <div class="space-8"></div>
                <ol style="font-size:20px">
                    客运营管理中心-户回访
                    <li>运营部客服中心回访</li>
                    <li>市场部经手人回访</li>
                    <li>老师联系与回访</li>
                    <li>老师课酬支付</li>
                    <li>项目收支核算</li>
                </ol>
            </div>
            <div class="step-pane" id="step9">
                <div class="space-8"></div>
                <ol style="font-size:20px">
                    教研中心-IT数据库存档
                    <li>公司网站信息更新</li>
                </ol>
            </div>
        </div>
        <div class="row-fluid wizard-actions">
            <button class="btn btn-prev">
                <i class="icon-arrow-left"></i>
                Prev
            </button>
            <button class="btn btn-success btn-next" data-last="Finish ">
                Next
                <i class="icon-arrow-right icon-on-right"></i>
            </button>
        </div>
    </div><!-- /widget-main -->
</div><!-- /widget-body -->
