<ul class="nav nav-list">
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span class="menu-text"> 项目管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>
        
        <ul class="submenu" style="display:block">
                <li>
                    <a href="/demand">
                        <i class="icon-double-angle-right"></i>
                        发起需求
                    </a>
                </li>
                <li>
                    <a href="/proposal/list">
                        <i class="icon-double-angle-right"></i>
                        提案管理
                    </a>
                </li>
                <li>
                    <a href="/controlTable/list">
                        <i class="icon-double-angle-right"></i>
                        项目管制表
                    </a>
                </li>
                <li>
                    <a href="/project/list">
                        <i class="icon-double-angle-right"></i>
                        项目跟踪
                    </a>
                </li>
                <li>
                    <a href="/contract/list">
                        <i class="icon-double-angle-right"></i>
                        合同管理
                    </a>
                </li>
                <li>
                    <a href="/preparation/list">
                        <i class="icon-double-angle-right"></i>
                        项目安排
                    </a>
                </li>
                <li>
                    <a href="/assessment/list">
                        <i class="icon-double-angle-right"></i>
                        评价信息
                    </a>
                </li>
        </ul>

    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span class="menu-text"> 信息管理 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" style="display:none">
            <li>
                <a href="/teacher/list">
                    <i class="icon-double-angle-right"></i>
                    师资信息
                </a>
            </li>
        </ul>

    </li>
</ul>