<link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.custom.min.css" />
<div class="form-group" id="contractOpr">
    <label class="col-sm-1 control-label no-padding-right">项目合同号:123456789</label>&nbsp;&nbsp;
    <button class="btn">
        <i class="icon-arrow-right"></i>
        提交合同给市场营销部
    </button>
    <button class="btn">
        <i class="icon-arrow-right"></i>
        项目成交
    </button>
</div>